[2016-01-18 23:05] timusus opened #1 "Add support for ItemDecorations"
Currently not supported. Any RecyclerView with item decorations will have weird FastScroll positions, due to the height of the decorations not being taken into account.

[2016-01-18 23:22] timusus opened #2 "FastScroll lag"
When dragging the FastScroll handle with many items in the RecyclerView (1000+), the scrolling becomes incredibly laggy.

[2016-01-18 23:43] #2 closed, assigned to nobody

[2016-01-20 20:50] iAlex97 opened #3 "Add support for auto-hide"
It would be nice to have support for the auto-hide feature (like Google Messenger)

[2016-01-21 01:22] karimknaebel opened #5 "GridLayoutManager scroll position error"
The FastScroll thumb only scrolls between 0 & itemCount/2.

[2016-01-21 01:28] timusus commented on #5
GridLayoutManager is already supported.

[2016-01-21 01:35] kabouzeid commented on #5
Doesn't work for me. I.e. when I set grid size 2 the handle goes at most to the half of the available height.

[2016-01-21 01:38] karimknaebel opened #6 "Fastscroller doesn't respect padding."
~~This is important to make it work with a collapsing toolbar for example. In this case the bottom padding changes when the toolbar collapses/expands. Because of that, currently a part of the fastscroller moves out of the screen when the toolbar is expanded.~~

Not really related to the CollapsingToolbarLayout, but a definite issue none the less. The FastScroll should respect the padding of its pa

[2016-01-21 01:38] timusus commented on #5
This is due to changes you made to your fork.

[2016-01-21 01:49] kabouzeid commented on #6
Update: as a workaround the user could probably simply wrap the recyclerview into a framelayout and set the padding to the framelayout.

[2016-01-21 10:02] timusus opened #7 "Add support for CoordinatorLayout offset behaviors"
When the parent RecyclerView is contained in a ViewGroup with another view whose scrolling behavior causes the RecyclerView to be pushed down, the FastScroll track and thumb moves off-screen with the RecyclerView.

There should be some sort of adjustment to allow the FastScroll track, thumb & scroll-range to remain fixed even when the parent RecyclerView is moved down.

[2016-01-21 10:03] timusus commented on #6
This is not a simple issue of respecting/not respecting padding. The bottom offset of the FastScroll track & handle needs to be adjusted based on the offset behavior of whatever view is pushing it down.

It's not clear what the best approach is here, it depends on the layout behavior of other views in the hierarchy.

Closing this ticket and opening #7.

[2016-01-21 10:45] kabouzeid commented on #5
@timusus I've just checked this, this isn't because of changes in my fork, when you use the current implementation with more elements (200 for example) the same happens.

[2016-01-21 10:49] timusus commented on #5
Sorry, my mistake. I did test this, but with 500 items, where the error is not present. Not sure what's going on here!

[2016-01-21 11:49] #5 closed, assigned to timusus

[2016-01-24 02:45] Piasy opened #11 "Better documentation"

[2016-01-24 07:43] timusus commented on #11
Can you be more specific? What exactly do you want to see documented?

[2016-01-24 10:16] Piasy commented on #11
@timusus Usage, customization, etc.

[2016-01-29 21:59] karimknaebel opened #12 "RTL support for the thumb."
The picture should explain everything in this case, just wanted to track this here so it doesn't become forgotten.

![2016 - 1](https://cloud.githubusercontent.com/assets/7303830/12689231/c1ba145e-c6db-11e5-9993-21f4a1148c45.png)

[2016-01-31 05:24] timusus commented on #12
Duplicate/fixed in #9

[2016-01-31 05:24] #12 closed, assigned to nobody

[2016-02-04 16:23] ItsCalebJones opened #13 "FastScrollPopup - Not working for some reason when compiled from gradle?"
The only thing I am changing is using a local build of the library, maybe an older version then switching to using the gradle link:

compile 'com.simplecityapps:recyclerview-fastscroll:1.0.5'

And then the SectionIndexer method 'getSectionForPosition' doesn't seem to get called. Any thoughts?

[2016-02-04 17:58] ItsCalebJones commented on #13
Looks like SectionIndexer was replaced with SectionAdapter, i'll look into figuring that out.

[2016-02-04 18:13] #13 closed, assigned to nobody

[2016-02-08 15:07] jaredrummler commented on #3
:+1:

something like [setFastScrollAlwaysVisible(boolean)](http://developer.android.com/reference/android/widget/AbsListView.html#setFastScrollAlwaysVisible%28boolean%29)

[2016-02-09 13:51] jaredrummler commented on #3
I forked this repo and started adding it. I ended up rewriting everything from scratch. Here is my project that has auto-hide and based off the latest changes from Google: https://github.com/jaredrummler/FastScroll-RecyclerView

[2016-02-09 18:39] iAlex97 commented on #3
Great! I'll check it out and report back as soon as possible

[2016-02-09 22:25] timusus commented on #3
There is a PR pending that I hope to accept soon, which supposedly adds support for auto-hide. Have a look at the pending PRs.

@jaredrummler I had a look at your implementation - that certainly isn't 'written from scratch', you've retained some of the hard work I've done, without retaining the license.. that's not very nice!

[2016-02-09 22:37] timusus commented on #3
Resolved with #14

[2016-02-09 22:37] #3 closed, assigned to nobody

[2016-02-10 07:03] jaredrummler commented on #3
@timusus It is written using the latest changes from Google. I did use the SectionedAdapter code from your project (which is about ~10 lines). I just updated the project with your name in the license and credit in the README. However, both the projects are 98% written by Google and you didn't keep their name in the license file (I don't blame you, my IDE auto updates the license).

https://github.

[2016-02-10 12:11] timusus commented on #3
@jaredrummler I'm not trying to be petty, but a lot of work went into that library (more than just the SectionedAdapter, Launcher3's FastScroll required a few difficult modifications to fix some bugs you would take for granted now that they're gone).

I only wish, as do most open source contributors, to have credit given where it is due. That is why I have credited Launcher3 and provided the licen

[2016-02-10 12:23] jaredrummler commented on #3
@timusus I didn't use your library as a base. Please go look at the code more carefully. I agree, this does not need a debate. I'm happy to give credit.

[2016-02-10 12:37] timusus commented on #3
@jaredrummler there are some specific comments and bug fixes that would indicate otherwise, namely GridLayout support and a very difficult fix resolving lag when using lists containing hundreds of items or more.

I guess I just don't really understand your motivation here. Open source is something sacred and I really don't like to see it abused, especially by another open source contributor.

To s

[2016-02-10 12:48] jaredrummler commented on #3
@timusus

It is pretty easy to prove I didn't use your library as a base.

Does your library have a drawable that is used by the latest marshmallow-mr1-release of Launcher3? No, it doesn't. Mine does. See [Launcher3](https://android.googlesource.com/platform/packages/apps/Launcher3/+/marshmallow-mr1-release/res/drawable/container_fastscroll_popup_bg.xml) and my [library](https://github.com/jaredru

[2016-02-10 12:51] timusus commented on #3
@jaredrummler I can see code I've written, which you've ported, you obviously don't even realise what you've copied across.

Forget about it man, this is clearly a lost cause. Good luck and I hope you think a little harder on how you credit other people for their work in the future.

[2016-02-10 13:21] jaredrummler commented on #3
@timusus I know exactly what I used from your project. Please don't try to lecture someone on contributing to open source. I originally was going to submit a pull request to your project. The project was public for less than 1 day before I added your name to the license and README. This is ridiculous. I think your attitude here is against an open source spirit. You accused me of using your project

[2016-02-10 13:26] timusus commented on #3
@jaredrummler my attitude here is against open source spirit? Come off it. I was just defending my own hard work. Shouldn't have been necessary in the first place.

[2016-02-10 14:07] #11 closed, assigned to nobody

[2016-02-14 06:59] AkshayChordiya opened #16 "Methods to show or hide scroller"
Hey @timusus

There are situations when we need to dynamically show or hide the scroller so because there could be method to hide the scroller and show it when required.

[2016-02-21 10:15] turing-tech opened #17 "Merge from MaterialScrollBar library"
Hi there. Author of the MaterialScrollBar library here: https://github.com/krimin-killr21/MaterialScrollBar

I'd like to have your blessing to fork your library and start working on a library merge. Your lib is much more efficient codewise than mine hence why I'm suggesting using yours as a base. The two libs are so similar I think it would do us and the community good to work together. All I'd as

[2016-02-21 10:38] timusus commented on #17
I'm actually quite reluctant to add any further customisation to this
library at this point. My philosophy sort of resolves around keeping things
as minimal as possible, so that users can easily understand what's
happening under the hood, and customise the library to suit there needs
with minimal effort.

I think there's definitely a place for custom popups/handles, and having a
standalone FastScr

[2016-02-21 11:06] turing-tech commented on #17
I see where you're coming from. If that's the case then I suppose I'll just keep them separate. I do have to say though that seeing the code from Launcher3, the portions which really piqued my interest, I'll probably be implementing it in my own lib, which will render some portions of our libs functionally identical. I'll work on simplifying mine to a point where you might be okay with a merge but

[2016-02-21 11:21] timusus commented on #17
I'm really not worried to be honest.

If I were you, I'd choose whatever base makes things simplest. It's really
not important where a library starts, it's the end result that matters.

If you choose to base it on Launcher3, great. If you base it on my library,
I'll be glad to have contributed. As long as you include the appropriate
licenses, everyone wins. I would recommend forking the library I'

[2016-02-21 11:24] #17 closed, assigned to nobody

[2016-02-21 11:26] turing-tech commented on #17
Okay, great. Well then I'll take the code from here and put your licence in the readme. Thanks for the advice man.

[2016-02-21 20:42] Nammari opened #18 "ItemDecoration is drawn over FastScrollPopup"
![screenshot_20160221-223754](https://cloud.githubusercontent.com/assets/1522931/13205236/69ecfb60-d8ec-11e5-95be-dc8c79b2d397.png)

[2016-02-21 22:54] Nammari opened #20 "Improve performance for ObjectAnimator"
instead of doing reflection on api level 14 and above , use Property .

[2016-02-23 18:36] JonathanMercandalli opened #21 "Scroll jumps with GridLayoutManager.SpanSizeLookup"
##### Scroll position jumps with header and GridLayoutManager(context, 2).

[code]

[2016-03-03 12:03] Svenvollfied25 opened #22 "Gridlayout giving too much bottom margin below every item in recyclerview"
Here's my java code:
`recyclerView = ((FastScrollRecyclerView)v.findViewById(R.id.recyclerView));
        recyclerView.setAdapter(new BaseAdapter());
        recyclerView.hasFixedSize();
        recyclerView.setLayoutManager(new GridLayoutManager(getActivity().getApplicationContext(),2));`

XML:

`<FrameLayout` `xmlns:android="http://schemas.android.com/apk/res/android"`
    `xmlns:app="http://sch

[2016-03-05 03:55] #22 closed, assigned to nobody

[2016-03-08 14:48] kibotu opened #23 "child is null"
happens when you return to the fragment having the recyclerview, there is a view element (like top shadow) overlapping on the recyclerview and it hasn't scrolled yet, i assume it tries to find the shadow within the recyclerview and fails

[code]

[2016-03-12 07:32] mbarrben opened #24 "Autohide not working or even crashing"
Hi,

There are some cases where the autohide feature is not working for me. In Android 4.x it's even crashing:

[code]

This is my XML:

[code]

Any clue what might be happening?

Thanks!

[2016-03-12 10:58] mbarrben commented on #24
Ok, the problem was with Proguard, this was only happening on release builds. I still don't understand the reason, but keeping classes from being obfuscated does the trick:

[code]

[2016-03-20 02:58] garretyoder commented on #6
Couldn't we just have the fastscroller by padded based on the parent on layout? I'm about to integrate this into my own project so if the solution is as simple as such I'll submit a patch.

[2016-04-01 21:23] cybergen78 opened #25 "Scroll and section indicator jumps if cells have different heights"
The cells in my example have all equal heights except one (one label wraps and has two lines). Whenever I fast scroll over the one higher cell the scroll and the indicator flickers and jumps up and down.

[2016-04-01 21:30] cybergen78 opened #26 "NullPointerException if adapter not set"
If the adapter of the recycler view is not (yet) set, the recycler view crashes with a NullPointerException on the first frame to draw (calling getItemCount() on the null adapter).

This is counter intuitive and annoying especially when working with loaders or even cursor loaders. You have to write the adapter null safe and instantiate and set an empty adapter with a null cursor every time the loa

[2016-04-01 22:01] timusus commented on #25
One of the major limitations of of this library is that it assumes all adapter items are of equal height.

[2016-04-01 22:26] cybergen78 commented on #25
Oh noes! It's a contact name and thus can't be ellipsized.
Are you planning to fix this?

[2016-04-01 22:29] timusus commented on #25
Oops, I never finished writing the comment above.

I don't have a fix in mind for this issue unfortunately. As a workaround, I would suggest hardcoding the number of lines for the text view so they're all the same.

[2016-04-01 22:36] cybergen78 commented on #25
😅

[2016-05-11 01:54] ItsCalebJones commented on #23
Any news on this?

[2016-05-11 07:30] kibotu commented on #23
well i've put up a pull request, you could just use my fork for now: https://github.com/Nammari/RecyclerView-FastScroll works with jitpack:

 compile 'com.github.kibotu:RecyclerView-FastScroll:1.0.8'

[2016-05-11 12:51] timusus commented on #23
I'll have a look into it soon. I want to make sure the PR doesn't cause any side effects.

[2016-05-11 13:02] kibotu commented on #23
actually for this issue the related part is merely that part, but gradle and sdk tools update is helpful, especially since recyclerview has had a lot of bugfixes:

https://github.com/Nammari/RecyclerView-FastScroll/pull/1/commits/e4c82cc15b92ed8dca685a0002014fc5d0ea07e3

[2016-05-12 12:43] 410133062 commented on #21
I have this problem too

[2016-05-13 00:32] timusus commented on #21
This library isn't capable of dealing with rows which differ in size - it assumes all rows are of equal height, and there are a fixed number of items per row.

If you're able to come up with a solution, make a PR and I'll gladly merge it in.

[2016-05-14 03:17] #26 closed, assigned to nobody

[2016-05-14 04:33] #23 closed, assigned to nobody

[2016-05-14 04:34] timusus commented on #20
I don't see any need for this. Are you actually experiencing performance issues with the animations?

[2016-05-14 04:34] #20 closed, assigned to nobody

[2016-05-14 09:32] timusus commented on #18
I'm not able to reproduce this at all. What OS & device are you using? What does your ItemDecoration look like?

[2016-07-19 12:17] ezamelczyk commented on #7
Has that issue been resolved? I'm currently having the same problem.

[2016-08-15 06:59] ericntd commented on #18
I'm having the same issue.

Android Support library version 23.4.0.
Nexus 5 running Lollipop 5.0

[2016-08-15 07:04] ericntd opened #27 "fastScrollAutoHide is not respected"
I want to disable autohide and always show the scrollbar/ fastscroll like Whatsapp Contacts. However, `app:fastScrollAutoHide="false"` has no effect, it's always auto-hide!

I'm using Android Support library 23.4.0

[2016-08-15 07:21] timusus commented on #18
Can you provide the details of your item decoration?

[2016-08-15 07:57] ericntd commented on #27
Sorry, my bad having wrong XML attribute `xmlns:app="http://schemas.android.com/tools"`. It should be `xmlns:app="http://schemas.android.com/apk/res-auto"`

[2016-08-15 07:57] #27 closed, assigned to nobody

[2016-08-15 10:51] NammariMarkavip commented on #7
@soberowy refer to my fork for solution

[2016-08-15 10:51] NammariMarkavip commented on #18
@ericn37 refer to my fork , i did the fix for this issue .

[2016-08-15 10:55] timusus commented on #18
@Nammari, I'd be happy to look at your fork & merge it if you could provide the details of your `ItemDecoration`.. I can't reproduce the issue with my own `ItemDecoration`, and I'm not convinced that the `FastScrollRecyclerView` needs changing.

[2016-08-15 15:39] ericntd commented on #18
Hi @timusus my `ItemDecorator` is as follows:

[code]

line_divider.xml

[code]

How I used your view in my fragment:

[code]

[2016-08-15 21:31] timusus commented on #18
Edit: This is bad advice. I need to fix this in the `RecyclerView-FastScroll` library.

You should be drawing your `ItemDecoration` in `onDraw()` instead of `onDrawOver()`.

`onDraw()`:

`onDrawOver()`:

I have tested this and confirmed both the issue and the fix. So, change your `ItemDecoration` to look like this:

[code]

[2016-08-15 21:33] #24 closed, assigned to nobody

[2016-08-16 01:41] ericntd commented on #18
Hi @timusus , I've made the change according to  your suggestion and now the dividers are not showing at all!
![screen shot 2016-08-16 at 9 37 40 am](https://cloud.githubusercontent.com/assets/19919208/17685352/a79dfaf2-6395-11e6-8b14-ea19e20034b5.png)

[2016-08-16 01:50] timusus commented on #18
Interesting. Are you using a solid background colour for your RecyclerView items? The sample isn't, which might explain why my 'fix' above worked in my testing.

[2016-08-16 03:31] ericntd commented on #18
Sorry, I found the culprit.

So I had white colour as background of my list item.
The divider item decorator only works if the background is transparent

[2016-08-16 03:33] timusus commented on #18
@ericn37 yep, so my suggested fix is incorrect - the problem is with the `RecyclerView-FastScroll` library rather than your `ItemDecoration`. @Nammari's fix is probably the correct way to approach this.

[2016-08-17 01:32] timusus commented on #7
See #19 for a potential (unconfirmed) fix. I haven't been able to confirm whether #19 is a general fix for this issue, or whether it's more of a work-around for specific scenarios.

[2016-08-18 22:19] #18 closed, assigned to nobody

[2016-08-29 19:00] loki666 commented on #7
#19 doesn't fix the issue when the RecyclerView is in a CoordinatorLayout

[2016-09-03 14:23] sendtodilanka opened #30 "How to change popup textSize?"
I need to change popup textSize. How can i do it?

[2016-09-05 08:32] ricknout opened #31 "Add interface for fast scroll state change"
It would be very useful to have an interface to determine when fast scrolling has begun and ended (and possibly any states/offsets in between).

In my case, I have a layout that includes a **_FastScrollRecyclerView_** and a **_FloatingActionButton_** in a **_FrameLayout_**. I want to be able to hide the FAB when a user is fast scrolling - as the fast scroll popup goes under the FAB - and show it a

[2016-09-05 13:34] jiansheliuxing commented on #7
does 1.0.9 has fixed this issue?

[2016-09-05 13:36] loki666 commented on #7
nop, I was testing on 1.0.9

[2016-09-05 13:43] jiansheliuxing commented on #7
Phonograph is also using this widget and it's well performed. I can't find out how Phonograph fixed this issue.

[2016-09-05 20:57] timusus commented on #30
I'm working on merging #28 (with some minor changes), hopefully I'll finish that soon.

[2016-09-05 22:31] timusus commented on #31
This should be fairly trivial to implement. I'm not sure how it solved the issue you've linked? That sounds like an issue to be resolved by the `RecyclerView`/`LayoutManager` rather than this library. Can you elaborate?

[2016-09-05 22:37] timusus commented on #7
@kabouzeid, IIRC you were saying you felt that you had more of a workaround than a fix.. Would you share that workaround here?

[2016-09-06 01:11] ricknout commented on #31
Hi @timusus,

Great! It would be awesome if you could add it.

Sorry, I should have elaborated. In my case, I have certain parts of my UI (eg. Toolbar elevation) that change with the onScrollListener offset. Fast scrolling does not trigger the listener (as per the link above). I think an interface to observe both the state change as well as the current offset of the __FastScrollRecyclerView__ coul

[2016-09-06 01:31] timusus commented on #31
No worries, I'll see what I can do.

I wonder if it would make more sense to fix the issue where the `onScrollListener` isn't triggered rather than implementing a custom callback. (I don't know what's involved here, but I've experienced similar issues using a CoordinatorLayout with parallax scrolling)

[2016-09-06 01:52] timusus commented on #30
OK, this is done. See the readme.

[2016-09-06 01:52] #30 closed, assigned to nobody

[2016-09-06 02:05] ricknout commented on #31
Yes, agreed. Just the state change is great for now.

I have a workaround for my specific case (add an `OnLayoutChangeListener` to the `RecyclerView`, use `.computeVerticalOffset()`, apply change).

Thanks for your time

[2016-09-07 01:31] Frechetta opened #32 "Popup not showing"
I have a simple RecyclerView extending FastScrollRecyclerView whose adapter is a RecyclerView.Adapter implementing FastScrollRecyclerView.SectionedAdapter. The FastScroll thumb shows and works just fine, but the popup does not show when scrolling.

This is my RecyclerView XML:

[code]

And this is my getSectionName() method:

[code]

I am using an itemDecoration that separates the items by 2dp.

[2016-09-07 01:38] Frechetta opened #33 "Change width of scroll thumb"
The width of the scroll thumb should be changeable. The FastScroll thumb is about twice the width of the original one.

[2016-09-07 01:51] Frechetta commented on #32
Update: The popup shows on one of my RecyclerView/Adapter setups. I'm working on comparing them to see what's different.

Edit: It works today, I don't know what did it, possibly just a clean and rebuild.

[2016-09-11 08:59] #32 closed, assigned to nobody

[2016-09-13 08:08] ricknout commented on #31
@timusus please see #34

[2016-09-13 08:11] timusus commented on #31
Thanks for this. I just haven't had time. I'll take a look and update tonight.

[2016-09-13 10:25] #31 closed, assigned to nobody

[2016-09-14 15:21] janswist commented on #32
Frechetta, did You found out what was going wrong? I have the same issue - no popup is showing and I have set all xml attrs as You have done.

[2016-09-14 15:24] Frechetta commented on #32
@janswist I never found the culprit. It appeared to fix itself after a clean and rebuild.

[2016-09-14 15:32] janswist commented on #32
@Frechetta I have done cleaning and rebuild and still no change. I have Lollipop 5.1 - just can't put a finger on it. Maybe @timusus could help here.

[2016-09-14 21:43] timusus commented on #32
I would suggest you fork this repo, make whatever changes necessary to replicate the issue and then link me to it. That way I can see what you're doing differently and I'll have a chance at figuring it out.

[2016-09-14 21:45] timusus commented on #32
@janswist have you implemented `getSectionName`?

[2016-09-14 22:31] janswist commented on #32
@timusus Yes, that's the first thing I checked. I even hardcoded String on return to be certain, but I think the problem is with popup - it's just not showning.

[2016-09-14 22:44] janswist commented on #32
@timusus I just now read Your previous reply. I will fork it and then I will write here about the results.

[2016-09-15 09:48] janswist commented on #32
@timusus As for now I just found that I used `RecyclerView` in my fragment instead of `FastScrollRecyclerView`, but still no results. Here is the code that I use when invoking:

[code]

`mAdapter` extends `RealmRecyclerViewAdapter` from Realm.io and `SectionedRecyclerViewAdapter` is just an add-on and I don't think it should make trouble, hence it's bound to the adapter.

[2016-09-15 09:52] timusus commented on #32
Create a sample project replicating the issue and I'll take a look. Otherwise I don't know what's going on. I don't have enough info to even guess.

[2016-09-15 13:04] janswist commented on #32
@timusus I created sample repo and added You as a collaborator :)

[2016-09-21 14:05] jiansheliuxing commented on #7
@loki666 @timusus I find a way.
AppBarLayout has a method 'addOnOffsetChangedListener', so we can add an 'OnOffsetChangedListener' into it. With the callback method 'onOffsetChanged' we can do something on pading or margin.
but, it may consume much cpu.

[2016-09-26 09:20] jiansheliuxing commented on #25
we can override ths method synchronizeScrollBarThumbOffsetToViewScroll and use item numbers to set the offset

[2016-09-28 13:55] BlackDizel opened #35 "want a gif to present to customers"
like here https://github.com/FutureMind/recycler-fast-scroll
https://camo.githubusercontent.com/26b1a68095f8cf1e68add244bdcea7fdc376a341/687474703a2f2f692e696d6775722e636f6d2f556771687a75642e676966

[2016-09-28 13:57] timusus commented on #35
The great thing about open source is you can download it, compile it, run it and do whatever you want with it.

[2016-09-28 13:57] #35 closed, assigned to nobody

[2016-10-16 01:18] dellisd opened #36 "Scroll Popup not disappearing"
On certain devices (Nexus 6P, Nexus 5X, Moto G3, etc.) the section popup doesn't disappear after the user has stopped scrolling.

[2016-10-17 10:30] olavbg opened #37 "Not able to change tex size of text in popup"
It says in readme that it should be possible to change the text size of the text in the popup using setPopupTextSize(int size), but I don't find any methods supporting this in code. The others for setting background- and text color is there, but not size.

[2016-10-19 13:54] ikravchenko opened #38 "Scrollbar is not displayed if RecycleView is embedded into a NestedScrollView"
In the following layout the scroll bar does not appear:

[code]

where

[code]

Code adjustments:

[code]

Library version used: 1.0.11

[2016-10-26 17:54] davag commented on #36
I had a similar issue in prod only. The cause was proguard. If you use Proguard you might want to add this line
-keep class com.simplecityapps.recyclerview_fastscroll.*\* { *; }

[2016-10-28 17:53] miguelfs commented on #16
if someone there needs to hide the bubble hint, just set the return value in getSectionName as an empty String (return "").

[2016-10-30 20:55] dellisd commented on #36
That fixed it

[2016-10-30 20:55] #36 closed, assigned to nobody

[2016-11-08 14:02] ikravchenko opened #39 "Scroll thumbnail is not hiding in release builds with obfuscation"
I am currently adding the following proguard config to fix it:

[code]

Please add a note or include progurd rules into your lib.

[2016-11-24 15:37] neobie opened #40 "Crash on API <= 15"
I capture multiple crashes on API lower then 15 from Crashlytics. A user reported that he cannot enter the Activity Screen totally.

Fatal Exception: java.lang.NullPointerException
       at android.animation.PropertyValuesHolder.setupSetterAndGetter(PropertyValuesHolder.java:513)
       at android.animation.ObjectAnimator.initAnimation(ObjectAnimator.java:385)
       at android.animation.ValueAni

[2016-11-27 11:38] Anis-Vikernes opened #41 "Not working when each item of the recyclerview has two elemnts"
I followed your tutorial but the problem is that each item in my recyclerview has two elements (in other words two TextViews) and now I get an error on this part :
`@NonNull
    @Override
    public String getSectionName(int position) {
        return String.valueOf(position);
    }`
PS: I want to set the scrollbar on one element only not the two of them

[2016-12-11 00:32] timusus commented on #37
Try `recyclerView.setPopupTextSize(int size);`

[2016-12-11 00:32] #37 closed, assigned to nobody

[2016-12-11 00:33] timusus commented on #41
What error are you getting?

[2016-12-11 01:15] timusus commented on #40
I'm not sure what's going on there.

Maybe the HideRunnable is being run after the RecyclerView has been detached from the Window, in certain situations. I don't have a device to test this on, and it may be only on specific devices.. Maybe you can provide more info from your Crashlytics data?

[2016-12-22 20:32] ghost opened #42 "Different Viewtypes"
I am using 2 different viewtypes (a textview and a cardview) for the recyclerview. When the type is changing in the recyclerview while scrolling it is lagging (scroll bar is jumping up and down like crazy).
In getSectionedName I'm is always returning "A"
Any fixes?

[2016-12-24 14:39] Hitexroid opened #43 "Add support for horizontal scrolling"

[2016-12-30 09:11] ikravchenko opened #44 "Popup background color alpha ignored"
If I set a popup background color with alpha, like e.g. #997F7F7F, only RGB spectrum is used. Please check also another color attributes and fix

[2017-01-08 23:18] timusus commented on #42
Currently this library assumes all items are of equal height. This limitation is brought about because there's no non-trivial way to determine what the total height of all the views in the RecyclerView will be, so then there's no way to determine what the current position of the FastScroll should be.

[2017-01-08 23:18] #42 closed, assigned to nobody

[2017-01-20 00:37] behelit commented on #33
It's the same as the google app drawer fastscroll thumb thickness, which I like, but it should be changeable.

[2017-01-29 08:31] Hitexroid opened #45 "ScrollToPosition"

[2017-02-09 18:34] duanniston commented on #16
Please, I need this

[2017-02-15 13:39] iAlex97 commented on #39
By trial end error I found out that you only need to keep `FastScrollPopup` (it cuts down a few methods) therefore the ProGuard config that I am using is the following:

[code]

[2017-02-17 02:18] by-syk opened #46 "Not support StaggeredGridLayoutManager"
`LinearLayoutManager` and `GridLayoutManager` are OK, but `StaggeredGridLayoutManager` is not.
The error occurs here:
`com.simplecityapps.recyclerview_fastscroll.views.FastScrollRecyclerView`
[code]

[2017-02-17 02:53] timusus commented on #46
As per the readme:

Sorry, other layout managers are not supported. Taking pull requests though, so if you'd like to figure it out..

[2017-02-17 02:53] #46 closed, assigned to nobody

[2017-02-17 02:54] timusus commented on #45
It sounds like your RecyclerView is null. There's not enough information here for me to do anything with.

[2017-02-17 02:55] timusus commented on #41
Not enough information to debug this issue.

[2017-02-17 02:55] #41 closed, assigned to Anis-Vikernes

[2017-02-17 02:55] timusus commented on #40
Not enough information provided to debug issue.

[2017-02-17 02:55] #40 closed, assigned to neobie

[2017-02-17 02:57] timusus commented on #39
Thanks for the info.

I just haven't gotten around to testing this out, which is why I haven't added a proguard rule to the library yet.

[2017-02-17 03:07] by-syk commented on #46
Got it. Thanks.

[2017-02-17 05:51] Hitexroid commented on #45
Just when i use `ScrollToPosition ` returns this error ! please test it.

[2017-02-17 05:53] timusus commented on #45
Can you provide a stack trace and some sample code?

[2017-02-19 11:23] timusus commented on #1
Fixed by #47

[2017-02-19 11:23] #1 closed, assigned to nobody

[2017-02-19 11:25] #45 closed, assigned to nobody

[2017-02-26 09:18] sagarvasnani commented on #6
When can we expect a solution to this bug? This is really really needed.

[2017-03-01 12:27] by-syk commented on #39
I met this issue too and solved it by adding the Proguard rule. Thanks.

[2017-03-14 10:05] VladimirWrites commented on #39
Works for me also. It should be added to README.md, and this issue should be closed.

[2017-03-14 10:59] #39 closed, assigned to nobody

[2017-03-14 11:21] #44 closed, assigned to nobody

[2017-03-18 11:40] Hitexroid opened #49 "How to hide FastScroll"
Hi , how to hide and show `fastscroller `by a method like this ?

`FSV.showFastScroller(false);`

[2017-03-29 13:08] MuhamedFathy commented on #33
The same here, It's wide more than normal.

[2017-04-21 19:11] MmtBkn opened #52 "Render problem"
Hi,

I just added library to project however I'm getting rendering problem. Any idea what can cause this?

[code]

[2017-04-24 03:30] timusus commented on #52
Fixed with 1f78c2e9956620c93a1f420703437087f13c76c3. I'll update the readme once v1.0.15 is live on Maven.

[2017-04-27 07:55] #52 closed, assigned to nobody

[2017-04-30 10:06] Ajtak opened #53 "Scrollbar outside Recyclerview"
Is possible add scrollbar outside RecyclerView?

[2017-04-30 10:08] timusus commented on #53
The ScrollBar could be decoupled from the RecyclerView, and if I had my time again, that is the approach I would have preferred.

But this is not currently possible.

[2017-04-30 10:09] timusus commented on #25
Closed with #51

[2017-04-30 10:09] #25 closed, assigned to nobody

[2017-04-30 10:11] Ajtak commented on #53
I know, that clear recyclerview its supported with atribute **scrollbarStyle="outsideInset"**, witch make, that scrollbar is outside.

PS: Your library is best :)

[2017-04-30 11:44] Ajtak commented on #53
My idea is same as this:
[![MyIdea](http://i.jafr.eu/i/uyOdQG0ayb_Beznzvupng.png)](http://i.jafr.eu/i/uyOdQG0ayb_Beznzvupng.png)

[2017-05-04 10:02] hosseinaminii opened #54 "MeasurableAdapter interface does not exist"
Hello
I use `compile 'com.simplecityapps:recyclerview-fastscroll:1.0.15'` in my app.gradle but I can not use FastScrollRecyclerView.MeasurableAdapter interface like sample app for my adapter.
Please guid me, Thanks a lot

[2017-05-05 01:46] timusus commented on #54
Sorry, I've screwed up the Readme. The `MeasurableAdapter` interface will be available in `1.0.16`, which I'll push out shortly.

[2017-05-06 06:16] hosseinaminii opened #55 "Issue with items with different height"
Hello
I have 3 types of view in my RecyclerView with different heights.
In my case RecyclerView-FastScroll dose not work correctly.
Is it possible to fix it?

Thanks

[2017-05-06 13:04] #54 closed, assigned to nobody

[2017-05-06 13:04] timusus commented on #55
That's what `MeasurableAdapter` is for.

[2017-05-06 13:07] hosseinaminii commented on #55
I used MeasurableAdapter but it still does not scroll smoothly.

[2017-05-06 13:14] timusus commented on #55
You'll need to be more specific.

[2017-05-09 22:53] MarcosCirilo commented on #55
The MeasurableAdapter isn't working correctly. I did implemented the "getViewTypeHeight" like you did in sample project and the fast scroll still working wrong.

[2017-05-09 22:56] timusus commented on #55
Can you please provide an example? The thing I'm having trouble with is 'it's not working' which doesn't really tell me much about the problem.

I didn't write the measurable adapter aspect of this project, so I'm not able to just imagine how you're using it and in which way it's not working.

Feel free to post some code, or provide a fork which demonstrates the problem.

[2017-05-10 13:57] MarcosCirilo commented on #55
I'm using a recycler view with two view types,  each view type has a different height.  My adapter implements MeasurableAdapter and implements the method "getViewTypeHeight".

@Override
        public int getViewTypeHeight(RecyclerView recyclerView, int viewType) {
            if(viewType == adapter.VIEW_TYPE_ITEM){
                return recyclerView.getResources().getDimensionPixelSize(R.dimen.f

[2017-05-11 02:14] marverenic commented on #55
I was able to reproduce this by creating an adapter with interwoven view types of different heights (i.e. an adapter where even rows have a height of 100dp and odd rows have a height of 50dp). It's caused by `FastScrollRecyclerView.scrollToPositionAtProgress(...)` not taking the `MeasurableAdapter` into account when it computes the view to scroll to.

I'll go ahead and open a PR once I've gotten t

[2017-05-13 23:30] GeniusRUS opened #57 "FastScroll triggers SwipeRefreshLayout"
When you scroll down, the SwipeRefresh call is triggered. But the scroll goes up perfectly. A temporary solution is to set the SweepRefresh setEnabled(false) on start scrolling and setEnabled(true) on stop

[2017-05-19 08:27] chiara-pugno opened #58 "Separate padding left|top|right|bottom"
I need of distinguishing between  padding left  and other paddings of fastscroll.
Now all paddings have the same value : fastscroll_scrollbar_padding.

Can you separate them with for example
fastscroll_scrollbar_padding_left
fastscroll_scrollbar_padding_top
ecc...?

Thanks

[2017-05-19 08:51] #58 closed, assigned to nobody

[2017-06-09 08:43] G00fY2 opened #59 "Make scrollbar track "fullscreen""
Please allow us to make the grey scrollbar background fullscreen to remove the empty space at the start and end.

[2017-06-09 09:18] G00fY2 opened #60 "Grey thumb when normal scrolling / colored when fastscroll"
Would be nice to control the behaviour of the thumb to adapt the current way google showing the scrollbar.

[2017-06-09 09:20] timusus commented on #59
I don't have time to look at this at the moment, but I'm happy to review a PR, shouldn't take much effort to implement.

[2017-06-14 13:52] G00fY2 commented on #59
Will see if I find some time to create a PR. 😉

[2017-06-28 10:59] tprochazka commented on #59
+1
This will be good. I don't understand why the empty space is there.

[2017-06-28 11:00] timusus commented on #59
The empty space is there because that's how the `FastScroll` was styled in Lollipop.

Should be very simple to change, and I'm happy to accept PR's.

[2017-08-07 16:56] yeahia2508 commented on #55
I have a Recycleview header Item with 40dp height and other Items height are dynamic. What I have to do in this case?

[2017-08-20 23:09] #59 closed, assigned to nobody

[2017-08-21 10:20] G00fY2 commented on #33
Atm this FastScroll implementation is pixelperfect to what Google is using in it's contact app. Can upload an screenshot later as a proof.

[2017-08-21 11:42] timusus commented on #33
@G00fY2 this library isn't aiming to match Google's latest implementation exactly. It wouldn't hurt to add a property to set the width. Still, I'm not planning on making this change myself any time soon.

[2017-08-21 11:43] timusus commented on #60
Happy to accept PR's, but it's not a goal of mine to make this library match Google's latest designs for the contacts app.

[2017-08-21 12:28] G00fY2 commented on #33
My intention was not to question the option to make the width changeable. I also think that this would be a very useful feature.
I was just responding to the statements that it's wider or even twice as width as "the original". :)

If you don't mind I will see if I can create another PR.

[2017-08-21 12:34] timusus commented on #33
Yeah, no worries. I just don't want anyone getting disheartened that we won't implement this feature because it already matches Google's designs.

Please go ahead with a PR, and thanks for your work.

[2017-08-21 12:52] G00fY2 commented on #60
I understand your point. And tbh Google itself is using plenty of differently styled FastScroller for the Drawer, Phone-App, Contact-App and so on.

I just think that your library is the most "Googlish" one and maybe thats one of the reasons many people like it.

Hope I don't annoy you by maybe posting a few more PR this week.
(I also discovered a small issue when drawing the popup for a new secti

[2017-08-21 12:54] timusus commented on #60
Please go ahead and PR away, it does not annoy me in the slightest, I appreciate any and all contributions!

Can you open a new issue for the bug you mentioned?

[2017-08-21 21:16] G00fY2 opened #63 "Popup size changing for fex pixels when new selection name"
See the logcat below. While scrolling in the sample app within the range of 10 -99 the popup size (bgWidth) jumps between 328 - 332 px. This causes the popup to slightly flicker and lock restless.

08-21 23:05:02.754 11956-11956/com.simplecityapps.recyclerview_fastscroll.sample D/bgWidth (bgPadding): 330 (71)
08-21 23:05:02.771 11956-11956/com.simplecityapps.recyclerview_fastscroll.sample D/bgWidt

[2017-08-30 10:14] #63 closed, assigned to nobody

[2017-08-30 10:15] #60 closed, assigned to nobody

[2017-09-03 06:04] abunayem opened #66 "how to show recyclerview item first letter in bubblText"
it's working very well. but I want to show item first letter in bubbleText. how can I achieve this?

[2017-09-15 06:26] samoremec commented on #49
There is app:fastScrollEnabled="false" but it does nothing

[2017-10-06 10:33] Nischitha-S opened #67 "Changing width and height of scroll bar"
iam new to android and in this iam unable to change the width and height of the scroll bar.please help me to do thatand remaining all working properly

[2017-10-12 12:32] Shanlovana opened #68 "GridLayoutManager can't get correct height"
if i use GridLayoutManager,how can i get correct  height?

[code]

[2017-10-12 12:55] timusus commented on #68
I don't understand the question. You've pasted some code without any context. Is something not working the way you expect it to? What are you trying to achieve? In what way is it not working?

[2017-11-02 01:32] rnitame opened #69 "java.lang.ArithmeticException: divide by zero"
[code]

[code]

This error happen when scrolling.
Is there a any solution?

[2017-11-17 17:41] ghost commented on #57
Hi,
Same problem, here a horrible tricks but that work

[code]

CrabeMan.

[2017-12-09 18:00] GeniusRUS commented on #57
**CrabeMan**, thank for your reply.
Yep, I solved this problem in the same way. But the developer would be nice to foresee this possibility "out of the box"

[2017-12-13 14:49] HappyDr0id commented on #59
Hello, first of all thank you for this library. When will a release be available with this PR ?

[2017-12-21 16:34] benjaminglatzeder opened #70 "Make xml field app:fastScrollPopupBackgroundSize accessible via Java code"
There are public methods like `recyclerView.setPopupTextColor();` and `recyclerView.setPopupTextSize();` but no method to set the popup background size

[2017-12-27 20:34] G00fY2 commented on #70
The size of the popup background get calculated dynamically by measuring the actual text bounds of the shown text inside.
By what criteria would you like to set a fixed size? This gets pretty hard when you can use numeric, all lower or all upper case characters.

You can see the logic in my pull request from #63.

[2017-12-27 20:46] G00fY2 commented on #69
Seems like this ([Line 402 in FastScrollRecyclerView](https://github.com/timusus/RecyclerView-FastScroll/blob/master/recyclerview-fastscroll/src/main/java/com/simplecityapps/recyclerview_fastscroll/views/FastScrollRecyclerView.java#L402)) returns 0 in your RecyclerView which is not expected:
[code]

Because this height is the divider in [Line 297](https://github.com/timusus/RecyclerView-FastScroll

[2017-12-27 20:54] G00fY2 commented on #66
Your adapter must implement `getSectionName()`. There you can return everything you like. For example only the first letter of a string attribute of your item.

Maybe show some code with your current adapter implementation.

[2017-12-27 20:56] benjaminglatzeder commented on #70
After I changed the value of app:fastScrollPopupBackgroundSize a few times and compared the visual results, I realized that the default size is on point. Since I don't think my change request is necessary and I'm the OP I'll close this ticket.

[2017-12-27 20:56] #70 closed, assigned to nobody

[2017-12-27 21:08] G00fY2 commented on #67
At the moment the sizes are the same Google is using for their FastScroll implementations. If you like to change those you properly need to fork this library and change `mThumbHeight`, `mWidth`  in the `FastScroller.java` class.

If you mean the offset of the scrolbar in the top and the bottom you find my pull request here: #59
@timusus just has not released an update since my PR.

[2017-12-28 01:45] rnitame commented on #69
@G00fY2

I got it.
Is there a workaround for using multiple ViewTypes?

[2017-12-28 22:26] G00fY2 commented on #69
I don't think so. Unfortunately this means that this implementation is also not working properly with sticky header libraries e.g.

[2018-01-04 05:07] rnitame commented on #69
I see.

Should I make this issue separately? (By the way, I use https://github.com/ShamylZakariya/StickyHeaders )

[2018-01-04 18:31] AhmadullahSaikat opened #71 "Recyclerview inside NestedScrollView."
Recyclerview inside NestedScrollView. fastScroll not showing.

[2018-01-13 19:08] amit-bhandari opened #72 "Recycler view does not support Action mode"
Please help!

Unable to start action mode using this recycler view. Always getting null action mode.

Tried support library Recycler view and it worked.

[2018-01-14 00:24] timusus commented on #72
Can you please provide a code sample, or a branch demonstrating the issue?

[2018-01-18 09:20] rnitame commented on #69
@G00fY2 How about this?
https://github.com/timusus/RecyclerView-FastScroll/issues/69#issuecomment-355200068

[2018-01-21 13:31] G00fY2 commented on #69
Relates to #42.
There is no "easy" way to support this. Also haven't seen a Google app which has this feature. They use [another approach](https://user-images.githubusercontent.com/1990806/35194704-cb0d2d96-feb7-11e7-9e4c-640f6fd56634.png).

Also unfortunately @timusus seems to currently not maintain the library.:cry:

[2018-01-21 13:47] timusus commented on #69
I'll happily consider your PR.

[2018-01-21 14:20] G00fY2 commented on #69
I would appreciate it if you could deploy the last changes in the meantime.
Will may try to look into extending support for variable item sizes.

[2018-01-21 19:32] #72 closed, assigned to nobody

[2018-01-21 19:33] amit-bhandari commented on #72
I got the action mode working, I don't know what I was doing wrong back then. Sorry :(

[2018-01-30 04:06] timusus commented on #43
This falls outside the scope for this library.

[2018-01-30 04:06] #43 closed, assigned to nobody

[2018-01-30 05:34] timusus commented on #71
I've had a look into this..

When you nest a `RecyclerView` inside a `NestedScrollView`, the `RecyclerViews` children are all created at once (rather than as you scroll). This is ill-advised in my opinion, as you lose the benefits of 'recycling' which come with the `RecyclerView`.

In turn, the `RecyclerView's` internal `draw(Canvas c)` is not called as you scroll, which is the trigger for us draw

[2018-01-30 05:34] #71 closed, assigned to nobody

[2018-01-30 05:41] timusus commented on #42
Edit: This is now supported using the `MeasurableAdapter` interface (see Readme). Your `RecyclerViewAdapter` is still required to have `ViewHolders` with determinate heights. In other words, you'll need to be able to tell Adapter what the height of a specific `ViewHolder` is, before it is drawn on screen.

[2018-01-30 05:41] timusus commented on #69
@rnitame

Yes, see the `MeasurableAdapter` interface in the Readme.

[2018-01-30 07:39] rnitame commented on #69
@timusus I see. Thanks!

[2018-01-30 09:33] #55 closed, assigned to nobody

[2018-01-30 09:38] timusus commented on #69
This divide by zero exception seems to occur if you have zero-height items in your adapter. I'm not sure when this would ever be the case..

If you do have zero-height items in your adapter, then you need to implement `MeasurableAdapter` in your `RecyclerViewAdapter`, and provide the heights of your views, so the `FastScrollRecyclerView` can draw the itself accurately.

I can't reproduce this issu

[2018-01-30 09:38] #69 closed, assigned to nobody

[2018-01-30 09:39] #68 closed, assigned to nobody

[2018-01-30 09:39] #66 closed, assigned to nobody

[2018-01-30 09:46] timusus commented on #49
`app:fastScrollEnabled` is not an attribute of this library - I believe this is a recent addition to `RecyclerView` by Google, which is related to their own implementation of `RecyclerView`.

[2018-01-30 10:02] timusus commented on #53
That image is no longer available. Feel free to reopen if you'd like to elaborate on the requirements for this feature.

[2018-01-30 10:02] #53 closed, assigned to nobody

[2018-01-30 10:04] #16 closed, assigned to nobody

[2018-01-30 10:05] timusus commented on #21
This is resolved with the `MeasurableAdapter` interface, see the Readme.

[2018-01-30 10:05] #21 closed, assigned to nobody

[2018-01-30 10:09] timusus commented on #33
Closing due to inactivity.

[2018-01-30 10:09] #33 closed, assigned to nobody

[2018-01-30 10:10] timusus commented on #49
Resolved with f2e22af

[2018-01-30 10:10] #49 closed, assigned to nobody

[2018-01-30 10:11] timusus commented on #67
This will require forking, as @G00fY2 says. If you'd like to make a PR after forking, feel free.

[2018-01-30 10:11] #67 closed, assigned to nobody

[2018-01-30 10:12] timusus commented on #38
I've had a look into this..

When you nest a RecyclerView inside a NestedScrollView, the RecyclerViews children are all created at once (rather than as you scroll). This is ill-advised in my opinion, as you lose the benefits of 'recycling' which come with the RecyclerView.

In turn, the RecyclerView's internal draw(Canvas c) is not called as you scroll, which is the trigger for us drawing the fast

[2018-01-30 10:12] #38 closed, assigned to nobody

[2018-01-30 10:16] timusus commented on #6
I'm not sure what the use case for this is. Closing, as I don't think a change is necessary here.

@sagarvasnani feel free to reopen if you can demonstrate the issue you're having.

[2018-01-30 10:21] timusus commented on #57
I'm not able to reproduce this issue. I've added a `SwipeRefreshLayout` around the `RecyclerView` in the sample project, and it is not triggered at all when fast scrolling.

If you can demonstrate the issue via a fork of the sample project, I'm happy to investigate further.

[2018-01-30 10:21] #57 closed, assigned to nobody

[2018-01-30 10:38] JonathanMercandalli commented on #21
Thanks a lot =)

[2018-01-30 10:46] ghost commented on #57
Hi,
You can look at [this example](https://github.com/CrabeMan/RecyclerView-FastScroll/tree/prevent_touch_event_conflict).

CrabeMan.

[2018-01-30 11:04] timusus commented on #57
I checked out your example, on the branch `prevent_touch_event_conflict`, and out-commented `recyclerView.preventTouchEventConflict(swipeRefreshLayout);`. I wasn't able to reproduce the issue. (Testing on Nexus 6P running Android 8.1.0).

A few things:
1. Can you describe how to reproduce the issue, just in case I'm missing something?
2. Which device, ROM and Android version are you experiencing t

[2018-01-30 11:55] ghost commented on #57
Thanks for your tests, i has actually retest my branch without the `recycleView.preventTouchEventConflict`. I have unfortunately not succeeded to reproduce the bug. But the bug is still present in my other project. I will investigate this, I'll keep you informed.
I'm currently running on Nokia 6 w/ Android 7.1.2

Edit: The problem is because I surround the `FastScrollRecyclerView` with a ` FrameLa

[2018-01-31 02:26] rnitame commented on #69
FYI, I fixed this issue what I increment a version without more development 👍

[2018-02-05 16:09] jahirfiquitiva commented on #7
@timusus

There's an old abandoned library that has support for this. Maybe you can check its code and try to port it to yours?

[Here's the line](https://github.com/jahirfiquitiva/recycler-fast-scroll/blob/6a72f8cc0c67504080ad8395f45de155b8766019/library/src/main/java/com/pluscubed/recyclerfastscroll/RecyclerFastScroller.java#L368) that connects `CoordinatorLayout` and `AppBarLayout` to the fast

[2018-02-05 17:15] jahirfiquitiva opened #74 "RecyclerView setPadding does not apply to scrollbar"
The FastScroller height is not calculated taking padding into account, so this makes the FastScroller height bigger than the actual RecyclerView height

[2018-02-06 03:50] 410133062 commented on #21
Thanks.

[2018-02-11 04:03] timusus commented on #74
Duplicate of #6. Will reopen.

[2018-02-11 04:03] #74 closed, assigned to nobody

[2018-03-24 12:39] panmona opened #76 "Style Scrollbar in a rounder way"
Is it possible to style my scrollbar from this library in a rounder way like in this example? How could I do that?

![](https://raw.githubusercontent.com/L4Digital/FastScroll/master/fastscroll_example.png)

[2018-04-11 08:56] hacker1024 opened #77 "Plese add a license"
Legally, we can't use your code, unless it's under a license, like GPL v3 or Apache-2.0.

[2018-04-11 09:57] hacker1024 commented on #77
Sorry, just saw it in the README. Please consider putting it in a LICENSE file to make it easier to find.

[2018-04-11 09:57] #77 closed, assigned to nobody

[2018-05-02 14:23] feliperce opened #78 "Change thumb color when scrolled"
How to change fastScrollThumbColor when scrolled, I tried to set:

[code]

It changes when scrolled, but not change when FAST scrolled

[2018-05-03 00:06] timusus commented on #78
You can attach an `OnFastScrollStateChangedListener` to the `FastScrollRecyclerView`.

Alternatively, fork this library and find the code that detects when the fast scroll is touched, and change the colour there.

[2018-05-03 00:07] timusus commented on #76
No, this isn't possible.

You could add this functionality yourself by forking the repo and making the appropriate changes to the FastScroll Thumb.

[2018-05-03 00:07] #76 closed, assigned to nobody

[2018-05-03 00:46] #78 closed, assigned to nobody

[2018-05-03 06:44] panmona commented on #76
Okay :/ Thanks for the answer though 👍 !

[2018-05-03 08:23] timusus commented on #76
I'd highly recommend forking the library. It's much simpler than it might first appear.

[2018-05-18 03:42] Cmdone opened #79 "Can it support custom thumb layout?"
Can it support custom thumb layout? Like an image instead of color

[2018-05-18 05:08] timusus commented on #79
Please see #76

[2018-05-18 05:08] #79 closed, assigned to nobody

[2018-05-24 04:13] csshuai opened #81 "Set the manager reversed, fast scroll not working correctly."
Set the manager reversed, fast scroll not working correctly.

[code]

[2018-05-24 05:02] timusus commented on #81
Can you please describe in what way the Fast Scroll isn't working correctly?

[2018-05-24 06:06] csshuai commented on #81
![ezgif-3-ef5d40cdea](https://user-images.githubusercontent.com/1501906/40467168-6071db08-5f5b-11e8-851d-3ac23f2416fd.gif)

[2018-06-07 12:52] zhanghai commented on #7
I've also encountered this issue just now, with almost the same layout as [the sample in @Nammari 's PR](https://github.com/timusus/RecyclerView-FastScroll/pull/19/commits/55e429b8870d5c90bbc301a322d2fa3b98adcf40).

This approach seemed plausible to me at first glance, however after looking into it I found that in the `CoordinatorLayout` setup the whole `RecyclerView` is pushed down, which means y

[2018-06-07 13:17] zhanghai commented on #7
After some digging into Phonograph I've found out his fix 😀

He was taking the approach that I mentioned as the other possibility, i.e. "changing the nested scrolling behavior so that the RecyclerView is resized instead of pushed down", by changing the bottom padding in `AppBarLayout.OnOffsetChangedListener` (which a bit to my surprise didn't impact the scrolling performance so much despite the re

[2018-06-07 13:58] karimknaebel commented on #7
Good that you found it, I didn't remember where exactly I did this 😅

[2018-06-18 10:00] akshaybmsa96 opened #82 "p"

[2018-06-18 10:05] #82 closed, assigned to nobody

[2018-07-30 10:03] arams opened #84 "Unable to compile with sdk version 28"
I get below error when i compile for 28

Warning: com.netmine.rolo.fastscroll.FastScrollPopup: can't find referenced method 'int save(int)' in library class android.graphics.Canvas

In different library I saw this fix. This might be applicable for us.

https://github.com/umano/AndroidSlidingUpPanel/pull/922/commits/7af57e82bfdac401ea1a0b6a105442d427e9c5e7

[2018-08-09 00:07] elman22 opened #85 "Text in popup is not vertically aligned"
Hi. I'm using your library and it works great.

However I have issue with text not being horizontally aligned. For example when I use text "Home", it is perfectly aligned into centre of the popup. However when I use use text "original", it is off by moving downward. See https://s22.postimg.cc/ddj848b81/popup_not_aligned.png

I noticed that all texts using letters which have part below line (like g

[2018-08-09 20:50] JustinTipton opened #86 "FastScroller. setThumbColor doesn't work"
FastScroller.setThumbColor doesn't set mActiveThumbColor, so the programatic configuration is only temporarily retained.

[2018-08-13 11:59] rahul-lohra opened #87 "How to add a shadow to the pop up?"

[2018-08-24 14:39] ghost opened #88 "Canvas.save(int) no longer exists as of API level 28"
When I build the application with ProGuard, I get the following warning.

    Warning: com.simplecityapps.recyclerview_fastscroll.views.FastScrollPopup: can't find referenced method 'int save(int)' in library class android.graphics.Canvas

This method was [deprecated](https://developer.android.com/sdk/api_diff/26/changes/android.graphics.Canvas) in API level 26 (along with `Canvas.MATRIX_SAVE_FLAG

[2018-10-01 14:47] yaroslav-shlapak commented on #7
Thanks @kabouzeid and @DreaminginCodeZH
Based on previous comments, Kotlin solution:

[code]

[2018-10-11 12:14] rajan051 opened #92 "Scroll not working in Nested Scroll view"
I have one nested scroll view with two recycle view,one vertical & one horizontal. in vertical recycle view i implemented this library. but it wont work.

[2018-11-07 12:02] timusus commented on #88
Resolved with #96

[2018-11-07 12:02] #88 closed, assigned to nobody

[2018-11-07 12:03] timusus commented on #7
I think the responsibility for working around this issue falls outside of the scope of this library. Thus, closing this issue.

[2018-11-07 12:03] #7 closed, assigned to nobody

[2018-11-07 12:04] timusus commented on #84
Resolved with #96

[2018-11-07 12:04] #84 closed, assigned to nobody

[2018-11-07 12:10] #86 closed, assigned to nobody

[2018-11-21 10:43] primalbet opened #97 "Popup does not correspond to the first visible item in the RecyclerView"
using the scrollbar, the current item that is shown in the popup is NOT the item at the top of the list. Example:

https://gyazo.com/48bf09b1bdffa3bfcc8aa1d87a39a79f

the M is the 4th item from the top of the list instead, it should show L because that is the first item at the top.

[2018-11-22 20:43] ghost opened #98 "FastScroll does working slowly"
I follow the tutorial and have success implemented it but the effect of scroll work slowly

[2018-12-10 12:24] qwert2603 commented on #81
Any thougths how to correct this?

[2019-01-06 08:54] chundk opened #100 "crash when invoke swapAdapter"
Exception throws when swapAdapter get called.

IllegalStateException("Observer " + observer + " was not registered.") E

Well, the solution is overriding swapAdapter

and copy method of setAdapter, instead of calling super.swapAdapter
---
    @Override
    public void swapAdapter(@NonNull Adapter adapter, boolean removeAndRecycleExistingViews) {

    	  if (getAdapter() != null) {
              ge

[2019-01-06 08:58] chundk commented on #87
Create and archive your own Custom View by extends pop up with MaterialShadow wrapper

[2019-02-08 02:42] timusus commented on #100
I'm not sure what SwapAdapter is, or what circumstances lead to this crash. This seems off topic and related to whatever library SwapAdapter belongs to.

[2019-02-08 02:42] #100 closed, assigned to nobody

[2019-02-08 02:45] #87 closed, assigned to nobody

[2019-02-08 04:29] #81 closed, assigned to nobody

[2019-02-08 04:29] timusus commented on #98
Can you please provide more information? Maybe a video of the issue?

Closing, will reopen if more info is provided.

[2019-02-08 04:29] #98 closed, assigned to nobody

[2019-02-08 04:53] timusus commented on #92
RecyclerView-FastScroll is not supported inside NestedScrollViews. When you place a RecyclerView inside a NestedScrollView, the RecyclerView's height expands to the height of all of its items. When you scroll, you're not really scrolling the RecyclerView anymore, you're scrolling the NestedScrollView. This makes it impossible to determine what the position of the FastScroll thumb should be (how fa

[2019-02-08 04:53] #92 closed, assigned to nobody

[2019-02-08 05:24] #85 closed, assigned to nobody

[2019-02-08 06:10] #6 closed, assigned to nobody

[2019-04-10 21:01] moallemi opened #102 "Conflict with recyclerview selection tracker"
`RecyclerView-FastScroll` can not be activated while using selection tracker from  `androidx.recyclerview:recyclerview-selection`library. Because as you start fast scrolling all items on the list are selected or sometimes they are selected randomly as you drag the fast scroll thumb and cause the recyclerview-selection logic crash.

[2019-05-28 09:20] zhanghai opened #103 "Scrolling whlie dragging the thumb isn't continuous"
On the contrary, it jumps with small increments.

In v1.0.18 the scrolling while dragging is still continuous and beautiful.

I suspect [#83](https://github.com/timusus/RecyclerView-FastScroll/pull/83/files#diff-0c1e8268f4f82b902f526173796ba312R214) is causing this regression, as it makes the recycler view skip scrolling until the accumulated drag distance exceeds touch slop. Touch slop is most of

[2019-05-28 09:29] zhanghai opened #104 "Respect clipToPadding="false""
While respecting paddingTop/Bottom is good, `RecyclerView` does draw in the padding if `clipToPadding="false"` is specified (and this is important for use cases like reserving some bottom space for a FAB, so that the last list item can always scroll above it and be fully visible). In this case the library should also draw in the padding. That is, the fix in 472ee5f5d2cb9da70c45a4b2cadcdfacafe2972a

[2019-10-01 12:19] goldy1992 commented on #103
Removing the `mTouchSlop`  comparison removes the problem for dragging as you correctly predicted @zhanghai .

However, when running the sample app, the scroll bar for normal scrolling still seems to be jumping in small increments; this I believe is due to the amount of time spent in the main thread, as the image is not cached

[2019-10-01 13:00] goldy1992 commented on #103
@zhanghai @timusus please see the [pull request for issue 103](https://github.com/timusus/RecyclerView-FastScroll/pull/105)

[2019-10-05 10:38] chirpphixel opened #106 "How do I modify each Item's Images (similar to readme screenshot)?"
Currently the sample project only shows duplicating the same jigsaw puzzle icon. How do I change the Images for each item dynamically?

I tried adding a ImageView variable under Adapter like this

 and then set ImageDrawable

I ran into this error:
 java.lang.NullPointerException: Attempt to invoke virtual method 'void android.widget.ImageView.setImageResource(int)' on a null object reference

[2019-10-05 10:45] timusus commented on #106
This library is for adding a FastScroller to the side of the RecyclerView. What you're asking about is how to use a RecyclerView in general. You'd probably be better off asking this over at StackOverflow.

It looks like you're calling `setImageResource` somewhere, on a `null` `ImageView`.

[2019-10-05 10:45] #106 closed, assigned to nobody

[2019-12-11 14:06] dev-vvd opened #108 "fastScrollThumbColor doesn't work in v2.0.0"
app:fastScrollThumbColor does not change the color of the thumb and stays black, in previous version (v1.0.9) it works fine.

[2020-03-16 07:59] #103 closed, assigned to nobody

[2020-03-16 08:00] timusus commented on #108
Seems to be working correctly for me. Are you sure you weren't trying to change the `thumbInactiveColor`?

[2020-03-16 08:00] #108 closed, assigned to nobody

[2020-05-03 12:08] EhsanMashhadi opened #110 "Custom Typeface"
Is there any feature to provide custom typeface for the PopupText?

[2020-09-05 17:49] AndroidDeveloperLB commented on #97
Actually I can see it on the sample too. Sometimes the header text is shown, and sometimes the item, and the text many times doesn't match what's on the first one that's shown.

See:

[w5O2UMjBDK.zip](https://github.com/timusus/RecyclerView-FastScroll/files/5178446/w5O2UMjBDK.zip)

[2021-01-11 17:20] yoobi opened #112 "Popup not showing on scroll"
I'm using your library and it's working really nice however I have issue showing the popup when user scroll the recyclerview

I want the popup to appear when the user start scrolling, is it possible ?

I've implemented it that way:

[code]

[code]

[2021-02-09 18:48] abunayem opened #113 "how to use a custom font in popup text?"
how can I change the typeface of popup text?

[2021-09-03 02:45] hnyer opened #115 "Not support StaggeredGridLayoutManager"
Not support StaggeredGridLayoutManager

[2022-05-14 00:12] Meisme2394 commented on #113
Hello jas

[2022-05-14 00:12] Meisme2394 opened #117 "Hello jas"
Hello jas

_Originally posted by @Meisme2394 in https://github.com/timusus/RecyclerView-FastScroll/issues/113#issuecomment-1126588306_

[2022-07-29 06:21] dbackspace opened #118 "How can I add thumb or track custom?"
Currently, when I read the code, I see that just only change color for thumb and track. How can I add a custom thumb or track drawable to replace default of recycler view. Look forward to hearing from you. Thanks.

[2022-08-01 09:34] dbackspace opened #119 "Can I get height of item directly from Adapter but no need define a fixed height value in dimens?"
Hello,
Currently, my recyclerview has more view type and I have no exactly height for each item view type. Could I have any way to get the height directly from code, eg itemView.getHeight()..... instead get fixed height from dimens value files? Thanks :D

[2022-08-10 13:19] alexandermarinissen opened #120 "FastScroller touch input doesn't respect RecyclerView padding"
I have a RecyclerView that matches the width and height of my display. However, the RecyclerView has a top and bottom padding of let's say 100dp. The FastScroller is rendered correctly (i.e. it only starts 100dp from the top of the screen and ends at 100dp above the bottom), but it still thinks touch input should go from the very top of the screen to the very bottom. This means that I have to drag

[2022-08-10 14:05] alexandermarinissen commented on #104
Does this also fix the touch issues? Currently, with clipToPadding="false", the scroller is drawn correctly (with the same padding), but it still treats touch input as though there is no padding (and thus you have to drag your finger further than where the scroller is drawn).